.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #1a1a1a
}

nav {
  background-color: #3ba0cf;
  min-height: 10vh;
  padding-left: 60px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 21px;
  color: blacks;
}

main {
  display: flex;
  justify-content: center;
}

ol {
  margin: 0;
}

li {
  margin: 6px 0 0 110px;
}

.list-content {
  margin-top: 30px;
}

.list-display-box {
  text-align: left;
  position: relative;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 750px;
  height: 400px;
  margin: 100px 0 10px;
}

.name {
  display: inline-block;
  margin: 30px 0 20px 70px;
  font-size: 30px;
  font-weight: 700;
  border-bottom: 3px solid #3ba0cf;
}

.list-item {
  font-weight: 700;
  margin: 0 0 12px 70px;
}

.list-value {
  font-weight: 400;
}

.index-id {
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: 8px;
  right: 14px;
}

.list-btn {
  font-size: 18px;
  padding: 8px 0;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.blue-btn {
  font-weight: 700;
  color: white;
  background-color: #3ba0cf;
  border: none;
  border-radius: 20px;
  margin: 0 5px;
  padding: 8px 14px;
  cursor: pointer;
}

.btn-row-container {
  display: flex;
  justify-content: center;
}

.btn-row {
  width: 750px;
  display: flex;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
